# Default
*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/am-kernels

# Report
!*.md
!*.pdf
!images/*

# VSCode
!.vscode/*
.vscode/settings.json

